:root {
  --dark-green: rgb(14, 116, 14);
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
  background-image: url("../img/main_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  width: 80%;
  margin: 0 auto;
}

span {
  color: #0e740e;
}

.navi {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 2%;
}
.navi .title {
  width: 40%;
  padding: 0;
  line-height: 40px;
  margin: auto;
  font-weight: bold;
  font-size: x-large;
}
.navi .menuWrapper {
  display: flex;
  justify-content: center;
  width: 60%;
  min-width: 350px;
  margin: 0 auto;
}
.navi .menuWrapper .menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-weight: bold;
}
.navi .menuWrapper .menu ul {
  list-style: none;
  line-height: 40px;
  margin-left: 0;
}
.navi .menuWrapper .menu .navi_item {
  display: block;
  float: left;
  margin: 0 3%;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}
.navi .menuWrapper .menu .navi_item:hover, .navi .menuWrapper .menu .active {
  opacity: 1;
}
.navi .menuWrapper .menu .navi_item::after {
  content: "";
  border-bottom: 2px solid green;
  width: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  margin: 3px auto 0;
}
.navi .menuWrapper .menu .navi_item:hover::after, .navi .menuWrapper .menu .active::after {
  width: 35px;
  text-align: center;
}

.hidden {
  display: none;
}

.home {
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}
.home__heading {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--dark-green);
  background-image: url("../img/multi-purpose-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__heading .photoWrapper {
  margin-top: 5%;
  margin-bottom: -2%;
  height: 37.3%;
  width: 26%;
  min-height: 200px;
  min-width: 200px;
  border: 2px solid white;
  border-radius: 3px;
}
.home__heading .photoWrapper .photo {
  width: 100%;
  height: 100%;
}
.home__heading .photoWrapper:hover {
  transform: translate(0, -10px);
  transition: all 1s;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.432);
}
.home__heading .intro {
  width: 60%;
  display: flex;
  flex-direction: column;
  min-width: 315px;
  color: white;
  text-align: center;
  min-width: 210px;
}
.home__heading .intro__name {
  margin-top: 20%;
  margin-bottom: 0;
  font-weight: bolder;
  font-size: xx-large;
}
.home__heading .intro__occupation {
  font-weight: bold;
}
.home__heading .intro__media {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.home__heading .intro__media a {
  margin: 0 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(6, 241, 182, 0.836);
}
.home__heading .intro__media .fa-facebook-square:hover {
  transform: scale(1.5);
}
.home__heading .intro__media .fa-twitter-square:hover {
  transform: scale(1.5);
}
.home__heading .intro__media .fa-instagram-square:hover {
  transform: scale(1.5);
}
.home__content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3%;
}
.home__content__aboutMe {
  width: 50%;
  min-width: 270px;
  padding-left: 5%;
}
.home__content__aboutMe .aboutMe__title {
  font-size: large;
  font-weight: bold;
}
.home__content__aboutMe .aboutMe__text {
  font-size: small;
}
.home__content__detail {
  width: 50%;
  min-width: 270px;
}
.home__content__detail ul {
  list-style: none;
  margin: 0;
  padding: 5%;
}
.home__content__detail ul li {
  display: flex;
  margin: 0 auto;
}
.home__content__detail ul li .personalInfo__key {
  font-size: small;
  width: 50%;
  margin: 1% auto;
  margin-right: 5%;
}
.home__content__detail ul li .personalInfo__value {
  width: 100%;
  font-size: small;
  margin: 1% auto;
  color: gray;
}

.resume {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
  margin-bottom: 10%;
}
.resume__contentWrapper {
  display: flex;
  flex-wrap: wrap;
}
.resume .education {
  padding-left: 1%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
}
.resume .education__contentWrapper {
  border-left: gray solid 3px;
  width: 100%;
  padding: 0.5px 0;
}
.resume .education__contentWrapper .education__block {
  position: relative;
  border-radius: 5px;
  border-left: green solid 3px;
  margin: 5%;
  padding-left: 7%;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
}
.resume .education__contentWrapper .education__block__title {
  font-weight: bold;
  font-size: small;
  padding: 1% 0;
}
.resume .education__contentWrapper .education__block__info {
  font-size: smaller;
  padding: 1% 0;
}
.resume .education__contentWrapper .education__block .education__year {
  font-size: xx-small;
}
.resume .education__contentWrapper .education__block .education__divider {
  border-right: 1px solid #dadada;
}
.resume .education__contentWrapper .education__block .education__company {
  font-size: xx-small;
  color: #49515d;
}
.resume .education__contentWrapper .education__block:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.resume .education__contentWrapper .education__block::before {
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid #44bb76;
  background-color: white;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -31px;
  z-index: 100;
  top: 20px;
}
.resume .education__contentWrapper .education__block::after {
  content: "";
  display: block;
  width: 23px;
  height: 2px;
  background-color: #44bb76;
  position: absolute;
  left: -24px;
  top: 25px;
}
.resume .experience {
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
}
.resume .experience__contentWrapper {
  border-left: gray solid 3px;
  width: 100%;
  padding: 0.5px 0;
}
.resume .experience__contentWrapper .experience__block {
  border-left: green solid 3px;
  margin: 5%;
  padding-left: 8%;
  border-radius: 5px;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
  position: relative;
}
.resume .experience__contentWrapper .experience__block__title {
  font-weight: bold;
  font-size: small;
  padding: 1% 0;
}
.resume .experience__contentWrapper .experience__block .experience__year {
  font-size: xx-small;
}
.resume .experience__contentWrapper .experience__block .experience__divider {
  border-right: 1px solid #dadada;
}
.resume .experience__contentWrapper .experience__block .experience__company {
  font-size: xx-small;
  color: #49515d;
}
.resume .experience__contentWrapper .experience__block__info {
  font-size: smaller;
  padding: 1% 0;
}
.resume .experience__contentWrapper .experience__block:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.resume .experience__contentWrapper .experience__block::before {
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid #44bb76;
  background-color: white;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -31px;
  z-index: 100;
  top: 20px;
}
.resume .experience__contentWrapper .experience__block::after {
  content: "";
  display: block;
  width: 23px;
  height: 2px;
  background-color: #44bb76;
  position: absolute;
  left: -24px;
  top: 25px;
}
.resume__skills {
  display: flex;
  padding: 3% 0 2% 5%;
  flex-wrap: wrap;
}
.resume__skills .skillWrapper {
  width: 50%;
  min-width: 330px;
  padding: 2% 0;
  margin: 0 auto;
}
.resume__skills .skillBlock {
  display: block;
  padding: 4% 0;
}
.resume__skills .skillBlock .skill__name {
  font-size: small;
  position: relative;
}
.resume__skills .skillBlock .skill__name::after {
  content: "";
  position: absolute;
  top: 1.7em;
  left: 0;
  width: 90%;
  height: 90%;
  border: 1px solid mediumspringgreen;
  border-radius: 0.2em;
  background-image: linear-gradient(to right, mediumspringgreen, mediumspringgreen);
  background-repeat: no-repeat;
  background-position: top 1px left 1px;
}
.resume__skills .skillBlock .skill__web::after {
  background-size: 85% 1em;
}
.resume__skills .skillBlock .skill__graphic::after {
  background-size: 75% 1em;
}
.resume__skills .skillBlock .skill__print::after {
  background-size: 65% 1em;
}
.resume__skills .skillBlock .skill__html5::after {
  background-size: 95% 1em;
}
.resume__skills .skillBlock .skill__css3::after {
  background-size: 70% 1em;
}
.resume__skills .skillBlock .skill__jquery::after {
  background-size: 90% 1em;
}

.services {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
}
.services .page__contentWrapper {
  padding: 2% 4%;
}
.services .myServices__title {
  font-weight: bolder;
}
.services .myServices__contentWrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}
.services .myServices__block {
  width: 20%;
  min-width: 200px;
  padding: 1%;
}
.services .myServices__block .block__icon {
  background-color: grey;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
}
.services .myServices__block .block__icon img {
  height: 64px;
  width: 64px;
}
.services .myServices__block .block__icon img:hover {
  transform: scale(1.5);
}
.services .myServices__block .block__title {
  font-weight: bold;
  margin-bottom: 8%;
}
.services .clients__logoWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services .clients__logoWrapper .clients__logo {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}
.services .clients__logoWrapper .clients__logo img {
  width: 100px;
  height: 100px;
}
.services .clients__logoWrapper .clients__logo:hover {
  opacity: 1;
}

.blog {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
  margin-bottom: 10%;
}
.blog .page__contentWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.blog .page__contentWrapper .blog__block {
  overflow: hidden;
  border-radius: 3px;
  max-width: 360px;
  text-align: center;
  margin: 2% 0;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
  position: relative;
}
.blog .page__contentWrapper .blog__block img {
  width: 100%;
  height: 100%;
}
.blog .page__contentWrapper .blog__block__tag {
  position: absolute;
  top: 2%;
  right: 2%;
  border: white solid 1px;
  background-color: white;
  color: yellowgreen;
  width: 30px;
  font-weight: bold;
  font-size: small;
}
.blog .page__contentWrapper .blog__block__type {
  color: grey;
  font-size: small;
  margin: 1% auto;
}
.blog .page__contentWrapper .blog__block__title {
  color: black;
  font-weight: bold;
  margin-bottom: 5%;
}
.blog .page__contentWrapper .blog__block:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.contact {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
}
.contact .page__contentWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: space-evenly;
}
.contact .page__contentWrapper .addressWrapper {
  justify-content: center;
  width: 45%;
  text-align: left;
  min-width: 310px;
  max-width: 390px;
  margin-top: 0;
}
.contact .page__contentWrapper .addressWrapper .google__map {
  width: 100%;
  height: 100%;
  min-width: 300px;
  margin-top: 5%;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.contact .page__contentWrapper .addressWrapper .address__contactInfo ul {
  list-style: none;
  padding: 0;
}
.contact .page__contentWrapper .addressWrapper .address__contactInfo ul li {
  padding: 1%;
  margin-left: 2%;
}
.contact .page__contentWrapper .addressWrapper .address__contactInfo ul li .icon__background {
  color: green;
}
.contact .page__contentWrapper .addressWrapper .address__contactInfo ul li span {
  color: black;
  padding-left: 5%;
  font-size: small;
}
.contact .page__contentWrapper .formWrapper {
  width: 45%;
  text-align: left;
  position: relative;
  margin-left: 5%;
  min-width: 310px;
  max-width: 390px;
}
.contact .page__contentWrapper .formWrapper .formContent .formInput {
  margin: 2% 0;
}
.contact .page__contentWrapper .formWrapper .formContent .formInput__label {
  font-weight: bold;
  margin-bottom: 1%;
}
.contact .page__contentWrapper .formWrapper .formContent .formInput input {
  width: 80%;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  line-height: 20px;
}
.contact .page__contentWrapper .formWrapper .formContent .formInput textarea {
  width: 80%;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  line-height: 30px;
  margin-bottom: 30%;
}
.contact .page__contentWrapper .formWrapper .sendButton {
  background-color: var(--dark-green);
  border: none;
  border-radius: 5%;
  color: white;
  font-size: large;
  position: absolute;
  left: 20%;
  bottom: 10%;
  padding: 1% 3%;
}
.contact .page__contentWrapper .formWrapper .sendButton:hover {
  background-color: lightgreen;
}

.page__heading {
  background-color: #0e740e;
  background-image: url("../img/multi-purpose-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page__title {
  margin: 0;
  padding: 3% 0;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  color: white;
}

.subTitle {
  font-weight: bold;
  font-size: large;
}

.icon__bg {
  background-color: white;
  border-radius: 35%;
  height: 40px;
  width: 40px;
}

/*# sourceMappingURL=style.css.map */
